html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
}


h1, h3 {
    color: #303030;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

h1 {
    border-bottom: 2px solid #E4C297;
    padding-bottom: 10px;
}

h3 {
    margin-top: 40px;
}


.form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form label {
    font-weight: bold;
    color: #303030;
}

.form select, 
.form input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #E4C297;
    border-radius: 4px;
}

.form button,
.form .btn-reset {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #E4C297;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

.form button:hover,
.form .btn-reset:hover {
    background-color: #d1a679;
}

.form .btn-reset {
    background-color: #303030;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead th {
    background-color: #303030;
    color: whitesmoke;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border: 1px solid #E4C297;
}

.table tbody td {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E4C297;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: #EDEDED;
}

.table tbody td button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #303030;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table button:hover {
    background-color: #E4C297;
    color: whitesmoke;
}

.completedTable {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #E4C297;
    border-radius: 4px;
    background-color: #EDEDED;
    color: #303030; 
}

.alert.alert-success {
    background-color: #E4C297;
    color: black;
    text-align: center;
    font-size: 25px;
}


.no-appointments {
    text-align: center;
    color: #303030;
    font-size: 16px;
    padding: 20px;
    border: 1px dashed #E4C297;
    border-radius: 4px;
    background-color: whitesmoke;
}