.header {
    background-color: #303030;
    margin-bottom: 50px;
}

nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    padding: 15px;
    justify-content: space-between;
}

.logo img {
    height: 150px;
    width: auto;
    margin-right: 15px;
    max-width: 100%;
    display: block;
    object-fit: contain;
}

nav li {
    
}


nav p {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav p:hover {
    cursor: pointer;
    color: #E4C297;
}

nav a{
    text-decoration: none;
}

.logout {
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logout:hover {
    cursor: pointer;
    color: #E4C297;
}


.p {
    color: #fff;
    cursor: pointer;
    position: relative;

}

.p::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #E4C297;
    transition: width .2s;
    bottom: -10px;

}

.p:hover::after {
    width: 100%;
}
