* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse; /* Ensures borders don't double */
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}



