body.patient_assignment {
    font-family: Arial, sans-serif;
    background-color: #303030; 
    color: whitesmoke;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #303030; 
}

.form input, .form select, .form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    color: #303030; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form input[type="text"], .form input[type="number"], .form input[type="date"] {
    background-color: whitesmoke;
}

.form select {
    background-color: whitesmoke;
}

.form button {
    background-color: #303030; 
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.form button:hover {
    background-color: #E4C297; 
    color: #303030;
    transform: scale(1.05);
}


#patient_id_error, ul {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.ul {
    text-align: center;
}

.success {
    margin: 0 auto;
    text-align: center;
    width: 25%;
    padding: 5px;
    border: 1px solid green;
}


